<!--
  -- example of partial.
  -->

{{#ui_button}}

  <a  class="ui-button ui-button-pill {{extra_class}} " 
      id="{{id}}" 
      href="{{href}}" >

    <span class="label">
      <span class="section">{{label}}</span> 
    </span>
  </a>

{{/ui_button}}