<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/styles/global.css">
        <link rel="stylesheet" href="assets/styles/ui.css">
        <link rel="stylesheet" href="assets/styles/main.css">

        <script src="assets/js/vendor.js"></script>
        <script src="assets/js/main.js"></script>

    </head>

    <body>

      <div class="container"> 
        {{> header common}}
        {{> body }}
        {{> footer common}}

      </div>

    </body>
</html>