// Truncates the text automagically where needed and replaces with ...
%truncate-text
  list-style-position: inside
  word-wrap: normal
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap


// Offscreen
%is-offscreen
  position: absolute
  left: -9999em

%is-offscreen-text
  text-indent: -9999em

// Blocks user's selection, useful to prevent selection on double click
%non-selectable
  -webkit-user-select: none  /* Chrome all / Safari all */
  -moz-user-select: none     /* Firefox all */
  -ms-user-select: none      /* IE 10+ */
  user-select: none


%clearfix
  zoom: 1

  &:after,
  &:before
    display: table
    content: ""

  &:after
    clear: both

%all-four
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

%white-text-shadow
  text-shadow: 0px 1px #FFFFFF


%black-text-shadow
  text-shadow: 0px 1px #000000


%ir
  color: transparent!important
  text-shadow: none!important
  font: 0/0 a!important
  text-indent: -999em

  br
    display: none

%loader-icon
  background-image: url($IMAGES+"loader.gif")
  background-repeat: no-repeat

%reset-typography
  h1, h2, h3, h4, h5, h6, p, li, blockquote
    line-height: normal
    margin: 0px
    padding: 0px

