//============================================================
//
// Helper SASS
//
// @description Provides some helper classes for common tasks.
// @version 1.00
//
// @author Chris Vasileva
//
//============================================================


.ir
  color: transparent!important
  text-shadow: none!important
  font: 0/0 a!important
  text-indent: -999em

  br
    display: none

.unselectable
  -webkit-touch-callout: none
  -webkit-user-drag: none
  +user-select(none)


.hidden
  display: none !important
  visibility: hidden


.invisible
  visibility: hidden


.unselectable
  -webkit-touch-callout: none
  -webkit-user-drag: none
  +user-select(none)


.no-scroll
  overflow: hidden


// Add/remove floats
.float-right
  float: right!important

.float-left
  float: left!important

.float-none
  float: none!important

.inline-item
  display: inline-block
  margin: 0
  padding: 0
  &.middle
    vertical-align: middle
  &.top
    vertical-align: top
  &.bottom
    vertical-align: bottom

