//============================================================
//
// Global
//
// @description Global styling
// @version 1.00
//
// @author Christina Vasileva
//
//============================================================


//----------------------------------------
// Elements
//----------------------------------------

*,
*:before,
*:after
  @include box-sizing(border-box)

+establish-baseline()

html,
body
  +removespace
  width: 100%
  height: 100%

body
  +helvetica(16px, $GUNMETAL, auto)
  background-color: $WHITE_LILAC

body, button
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4, h5, h6, p
  +removespace

h1, h2, h3, h4, h5, h6, p, li, blockquote
  color: $WHITE

// HEADLINE 1
h1
  &, &.heading-primary
    +helveticaSemiBold(60px, $GUNMETAL, auto)
  &.heading-secondary
    +helveticaSemiBold(60px, $GUNMETAL, auto)

// HEADLINE 2
h2
  &, &.heading-primary

  &.heading-secondary
    +helvetica(40px, $GUNMETAL, auto)

// HEADLINE 3
h3
  &, &.heading-primary
    +helvetica(30px, $GUNMETAL, auto)
  &.heading-secondary
    +helvetica(30px, $GUNMETAL, auto)

// HEADLINE 4
h4
  &, &.heading-primary
    +helvetica(24px, $GUNMETAL, auto)
  &.heading-secondary
    +helveticaBold(24px, $GUNMETAL, auto)

// HEADLINE 5
h5
  &, &.heading-primary
    +helvetica(20px, $GUNMETAL, auto)
  &.heading-secondary
    +helveticaBold(20px, $GUNMETAL, auto)

// HEADLINE EXTRA SMALL
h6
  &, &.heading-primary
    +helvetica(14px, $GUNMETAL, auto)
  &.heading-secondary
    +helvetica(14px, $GUNMETAL, auto)

// COPY
p
  +helvetica(16px, $GUNMETAL, auto)
  +trailer
  &:last-child
    margin-bottom: 26px

small
  +set-font-size(11px)

strong
  font-weight: 900

em
  font-style: italic

// ALIGNMENT
.text-left
  text-align: left!important

.text-center
  text-align: center!important

.text-right
  text-align: right!important

// PULLQUOTE
blockquote
  margin: 0px
  +padding-trailer(1)
  padding-left: 60px
  padding-right: 60px
  &, p
    +helveticaItalic(30px, #aaafb2)
  p:last-child
    margin-bottom: 0px


// LISTS
ul
  list-style: disc
  list-style-position: inside
  padding: 0px
  margin: 0px
  +leader(0.5)
  +trailer(0.5)

ol
  list-style-position: inside
  padding: 0px
  margin: 0px
  +leader(0.5)
  +trailer(0.5)

ul li,
ol li
  padding: 0px
  +padding-trailer(0.5)
  &:last-child
    padding: 0px

a,
button
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  text-decoration: none
  cursor: pointer
  font-weight: 900
  &:hover
    text-decoration: underline
