//============================================================
//
// Helper SASS
//
//============================================================



=margin-base-top($lines: 1)
  margin-top: $lines*$BASE_SPACING_UNIT

=margin-base-right($lines: 1)
  margin-right: $lines*$BASE_SPACING_UNIT

=margin-base-bottom($lines: 1)
  margin-bottom: $lines*$BASE_SPACING_UNIT

=margin-base-left($lines: 1)
  margin-left: $lines*$BASE_SPACING_UNIT

=margin-base-ends($lines: 1)
  +margin-base-top($lines)
  +margin-base-bottom($lines)


=padding-base($lines: 1)
  padding: $lines*$BASE_SPACING_UNIT

=padding-base-top($lines: 1)
  padding-top: $lines*$BASE_SPACING_UNIT

=padding-base-right($lines: 1)
  padding-right: $lines*$BASE_SPACING_UNIT

=padding-base-bottom($lines: 1)
  padding-bottom: $lines*$BASE_SPACING_UNIT

=padding-base-left($lines: 1)
  padding-left: $lines*$BASE_SPACING_UNIT

=padding-base-ends($lines: 1)
  +padding-base-top($lines)
  +padding-base-bottom($lines)

=padding-base-sides($lines: 1)
  +padding-base-left($lines)
  +padding-base-right($lines)

//============================================================
// Sizing
//============================================================
=one-half
  width: 50%

=one-third
  width: 33.3%

=one-forth
  width: 25%

//============================================================
// Theming
//============================================================


