//============================================================
//
// Mixins
//
//
// ---------- INDEX ----------
//
// @mixin columnWidth
// @mixin background
// @mixin spritesheet
// @mixin spritesheetVideo
// @mixin graphic
// @mixin icon20 & icon30 & icon50
// @mixin thinArrow
// @mixin gradient
// @mixin text
// @mixin triangle
// @mixin dash
// @mixin px -> em calculations
// @mixin antialias
// @mixin removespace
//
//============================================================



//============================================================
//
// columnWidth
//
// @param count           : Number
//
//============================================================

=columnWidth($count)
  width: $columnWidth * $count + $columnSpacing * ($count - 1)



//============================================================
//
// fadeHex
//
// @param hex           : Hexidecimal colour value
// @param opacity       : %
//
//============================================================

=fadeHex($hex, $opacity)
  background-color: $hex
  background-color: transparentize($hex, $opacity)




//============================================================
//
// background
//
// @param color           : hex | RGB | RGBA | HSL | HSLA | color name | transparent | inherit
// @param image           : url string | none | inherit
// @param left            : left | right | center | percentage | length | inherit
// @param top             : top | bottom | center | percentage | length | inherit
// @param repeat          : repeat | repeat-x | repeat-y | no-repeat | inherit
// @param width           : length | percentage | cover | contain | auto
// @param height          : length | percentage | cover | contain | auto
// @param origin          : padding-box | border-box | content-box
// @param clip            : border-box | padding-box | content-box
// @param attachment      : scroll | fixed | inherit
// @param opacity         : scroll | fixed | inherit
//
//============================================================

=background($color: transparent, $image: none, $left: 0px, $top: 0px, $repeat: no-repeat, $width: auto, $height: auto, $origin: padding-box, $clip: border-box, $attachment: scroll, $opacity: 1)

  @if ($color == transparent)
    @if ($image == "none" or $image == "inherit")
      background-image: $image
    @else
      background-image: url(#{$image})

    background-attachment: $attachment
    background-position: $left $top
    background-size: $width $height
    background-repeat: $repeat
    background-origin: $origin
    background-color: $color
    background-clip: $clip


  @else
    +fadeHex($color, $opacity)
    @if ($image == "none" or $image == "inherit")
      background-image: $image
    @else
      background-image: url(#{$image})

    background-attachment: $attachment
    background-position: $left $top
    background-size: $width $height
    background-repeat: $repeat
    background-origin: $origin
    background-clip: $clip





//============================================================
//
// spritesheet
//
// @param x               :  px, em, %
// @param y               :  px, em, %
// @param repeat          :  repeat, no-repeat
//
//============================================================

=spritesheet($x: 0px, $y: 0px, $repeat: no-repeat)
  @extend %spritesheet
  background-color: transparent
  background-repeat: no-repeat
  background-position: $x $y
  +retina
  //background: transparent url("#{$SPRITES}spritesheet.png") $x $y $repeat
  //@extend %retina



//============================================================
//
// Add retina version of the spritesheet
//
//============================================================

=retina
  // background-image: url(unquote($SPRITESHEET2X)) !important
  @extend %spritesheet2x
  background-size: $SPRITESHEETWIDTH $SPRITESHEETHEIGHT !important



//============================================================
//
// graphic
//
// @param width           :  px
// @param height          :  px
// @param originX         :  px
// @param originY         :  px
// @param indexX          :  Number
// @param indexY          :  Number
// @param offsetX         :  px
// @param offsetY         :  px
// @param target          :  @INLINE | @BEFORE | @AFTER
//
//============================================================

=crop($width, $height, $originX, $originY, $indexX, $indexY, $offsetX, $offsetY)
  +spritesheet(($originX - $width * $indexX), ($originY - $height * $indexY))
  background-color: transparent
  position: absolute
  display: block
  height: $height
  width: $width
  left: $offsetX
  top: $offsetY


=graphic($width, $height, $originX, $originY, $offsetX, $offsetY, $indexX, $indexY, $target, $position)

  // INLINE
  @if $target == $INLINE
    +crop($width, $height, $originX, $originY, $indexX, $indexY, $offsetX, $offsetY)

  // BEFORE
  @if $target == $BEFORE
    position: relative
    &:before
      +crop($width, $height, $originX, $originY, $indexX, $indexY, $offsetX, $offsetY)
      content: ""

  // AFTER
  @if $target == $AFTER
    position: relative
    &:after
      +crop($width, $height, $originX, $originY, $indexX, $indexY, $offsetX, $offsetY)
      content: ""






//============================================================
//
// icon20 & icon40 & icon50
//
// @param indexX          :  Number
// @param indexY          :  Number
// @param offsetX         :  px
// @param offsetY         :  px
// @param target          :  @INLINE | @BEFORE | @AFTER
//
//============================================================

// Spritesheet offsets
$icon20offsetY: 0px
$icon20offsetX: 0px

$icon30offsetY: -20px
$icon30offsetX: 0px

$icon40offsetY: -50px
$icon40offsetX: 0px

$icon80offsetY: -130px
$icon80offsetX: 0px

$icon100offsetY: -100px
$icon100offsetX: 0px

=icon20($indexX, $indexY, $offsetX: 0px, $offsetY: 0px, $target: $AFTER, $position: $ABSOLUTE)
  +graphic(20px, 20px, $icon20offsetX, $icon20offsetY, $offsetX, $offsetY, $indexX, $indexY, $target, $position)

=icon30($indexX, $indexY, $offsetX: 0px, $offsetY: 0px, $target: $AFTER, $position: $ABSOLUTE)
  +graphic(30px, 30px, $icon30offsetX, $icon30offsetY, $offsetX, $offsetY, $indexX, $indexY, $target, $position)

=icon40($indexX, $indexY, $offsetX: 0px, $offsetY: 0px, $target: $AFTER, $position: $ABSOLUTE)
  +graphic(40px, 40px, $icon40offsetX, $icon40offsetY, $offsetX, $offsetY, $indexX, $indexY, $target, $position)

=icon80($indexX, $indexY, $offsetX: 0px, $offsetY: 0px, $target: $AFTER, $position: $ABSOLUTE)
  +graphic(80px, 80px, $icon80offsetX, $icon80offsetY, $offsetX, $offsetY, $indexX, $indexY, $target, $position)

=icon100($indexX, $indexY, $offsetX: 0px, $offsetY: 0px, $target: $AFTER, $position: $ABSOLUTE)
  +graphic(100px, 100px, $icon100offsetX, $icon100offsetY, $offsetX, $offsetY, $indexX, $indexY, $target, $position)


//============================================================
//
// thinArrow
//
// @param index           :  Number
// @param direction       :  @Left | @Right | @Down
//
//============================================================

=thinArrow($index, $direction, $length: 30px, $offsetX: 0px, $offsetY: 0px, $target: $INLINE)
  position: absolute
  @if ($direction == $LEFT)
    +graphic($length, 30px, 0px, -250px, 0, $index, $offsetX, $offsetY, $target)

  @if ($direction == $RIGHT)
    +graphic($length, 30px, -120px + $length, -250px, 0, $index, $offsetX, $offsetY, $target)

  @if ($direction == $DOWN)
    +graphic(30px, $length, -120px, -310px + $length, $index, 0, $offsetX, $offsetY, $target)




//============================================================
//
// gradient
//
// @param colorStops       :  colorStops
//
//============================================================

=gradient($color-stops...)
  +linear-gradient(to $color-stops)



//============================================================
//
// text
//
// @param family            : defaultFontFamily
// @param size              : defaultFontSize
// @param color             : defaultTextColor
// @param weight            : normal | bold | number
// @param style             : normal | italic
// @param decoration        : none | underline | strikethrough
// @param lineHeight        : normal | pixel value
// @param variant           : normal | small-caps | inherit
//
//============================================================

=text($family: "", $size: "", $color: "", $weight: normal, $style: normal, $letterSpacing: 0px, $decoration: none, $lineHeight: "", $variant: normal)
  font-family: $family
  font-style: $style
  font-variant: $variant
  font-weight: $weight
  @if $lineHeight == auto
    +set-font-size($size)
  @if $lineHeight != ""
    +font-size($size)
    +px-to-rem(line-height, $lineHeight)
  @else
    +set-font-size($size)
  text-decoration: $decoration
  @if $color != ""
    color: $color
  @include px-to-rem(letter-spacing, $letterSpacing)
  +antialias


//============================================================
//
// font-size
//
// @param size              : defaultFontSize
// @param lineHeight        : normal | pixel value
//
//============================================================

=font-size($size: $DEFAULT_FONT_SIZE,  $lineHeight: "")
  +px-to-rem(font-size, $size)
  @if $lineHeight != ""
    +px-to-rem(line-height, $lineHeight)

//============================================================
//
// line-height
//
// @param lineHeight        : normal | pixel value
//
//============================================================

=line-height($lineHeight)
  +px-to-rem(line-height, $lineHeight)

//============================================================
//
// antialias
//
// @param value         : true | false
//
//============================================================

=antialias($value: true)
  @if $value == true
    -webkit-font-smoothing: antialiased
  @else
    -webkit-font-smoothing: auto



//============================================================
//
// text-shadow-regular
//
// @param value         : true | false
//
//============================================================

=text-shadow-regular($color, $alpha: 1.0)
  +text-shadow(rgba($color, $alpha) 0 0 1px)



//============================================================
//
// opacity
//
// @param value         : number
//
//============================================================

=opacity($opacity)
  $percent: $opacity * 100
  opacity: $opacity
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$percent})"
  filter: alpha(opacity=#{$percent})




//============================================================
//
// triangle
//
// @param dir           : String
// @param color         : String
// @param size          : Number
// @param offsetX       : Number
// @param offsetY       : Number
//
//============================================================

=triangle($dir, $color, $size, $offsetX: 0px, $offsetY: 0px)
  +triangleCommon()
  border: $size solid transparent

  @if ($dir == $LEFT)
    margin-top: -$size + $offsetY
    margin-left: $offsetX
    border-right-color: $color

  @if ($dir == $RIGHT)
    margin-top: -$size + $offsetY
    margin-left: $offsetX
    border-left-color: $color

  @if ($dir == $UP)
    margin-left: -$size + $offsetX
    margin-top: $offsetY
    border-bottom-color: $color

  @if ($dir == $DOWN)
    margin-left: -$size + $offsetX
    margin-top: $offsetY
    border-top-color: $color

=triangleCommon()
  border: none
  position: absolute
  content: ""
  height: 0
  width: 0



//============================================================
//
// dash
//
// @param width         : px, em, %
// @param color         : You know the score
// @param align         : @Left|@Center|@Right
//
//============================================================

=dash($color, $width, $height: 2px, $offsetX: 0px, $offsetY: 0px, $alignment: $CENTER)
  position: relative

  &:after
    background: $color
    position: absolute
    bottom: $offsetY
    height: $height
    width: $width
    display: block
    content: ''

    @if ($alignment == $LEFT)
      left: $offsetX

    @if ($alignment == $RIGHT)
      right: $offsetX

    @if ($alignment == $CENTER)
      margin-left: -$width/2
      left: 50%



=dashBEFORE ($color, $width, $height: 2px, $offsetX: 0px, $offsetY: 0px, $alignment: $CENTER)
  position: relative

  &:before {
    background: $color
    position: absolute
    bottom: $offsetY
    height: $height
    width: $width
    display: block
    content: ''

    @if ($alignment == $LEFT)
      left: $offsetX


    @if ($alignment == $RIGHT)
      right: $offsetX


    @if ($alignment == $CENTER)
      margin-left: -$width/2
      left: 50%



//============================================================
//
// transition-delay
//
// @param delay               :  1s, 1000ms
//
// @see http://www.w3schools.com/cssref/css3_pr_transition-delay.asp
//
//============================================================

=transition-delay($time)
  +prefix-property(transition-delay, unquote($time))



//============================================================
//
// px -> em calculations
//
// @param px
//
//============================================================

// =emWidth($px)
//   width: calc-em($px, $baseFontSize)+" !important"

// =emHeight($px)
//   height: calc-em($px, $baseFontSize)+" !important"

// =emLeft($px)
//   left: calc-em($px, $baseFontSize)+" !important"

// =emRight($px)
//   right: calc-em($px, $baseFontSize)+" !important"

// =emTop($px)
//   top: calc-em($px, $baseFontSize)+" !important"

// =emBottom($px)
//   bottom: calc-em($px, $baseFontSize)+" !important"

// =emMarginLeft($px)
//   margin-left: calc-em($px, $baseFontSize)+" !important"

// =emMarginRight($px)
//   margin-right: calc-em($px, $baseFontSize)+" !important"

// =emMarginTop($px)
//   margin-top: calc-em($px, $baseFontSize)+" !important"

// =emMarginBottom($px)
//   margin-bottom: calc-em($px, $baseFontSize)+" !important"



// @function calc-em($target-px, $context)
//   @return ($target-px / $context) * 1em



//============================================================
//
// Mixin for removing padding and margin
//
//============================================================

=removespace
  margin: 0
  padding: 0

//============================================================
//
// Mixin for setting height and width
//
//============================================================

=size($width, $height)
  width: $width
  height: $height



