//============================================================
//
// Typography
//
// @description Typography definitions
// @version 1.00
//
// @author Christina Vasileva
// ---------- INDEX ----------
//
// Helper Classes
//
//
//============================================================

//----------------------------------------
// Helper Classes
//----------------------------------------

=font-face($family, $path, $weight: normal, $style: normal)
  @font-face
    font:
      family: $family
      style: $style
      weight: $weight
    src: url($path + ".eot")
    src: url($path + ".eot?#iefix") format("embedded-opentype"), url($path + ".woff" ) format("woff"), url($path + ".ttf") format("truetype"), url("#{$path}.svg##{$family}") format("svg")


//----------------------------------------
// Font Families
//----------------------------------------

$HELVETICA: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

//----------------------------------------
// Font Weights
//----------------------------------------

$THIN: 100
$LIGHT: 200
$SEMI_LIGHT: 200
$SEMI_LIGHTER: 300
$REGULAR: 400
$MEDIUM: 500
$SEMI_BOLD: 600
$BOLD: 700
$EXTRA_BOLD: 900


//----------------------------------------
// Helvetica -- example font
//----------------------------------------
=helveticaThin($size: 16px, $color: $WHITE, $lineHeight: normal)
  +text($HELVETICA, $size, $color, $THIN, normal, 0.5px, none, $lineHeight, normal)

=helveticaLight($size: 16px, $color: $WHITE, $lineHeight: normal)
  +text($HELVETICA, $size, $color, $LIGHT, normal, 0.5px, none, $lineHeight, normal)

=helvetica($size: 16px, $color: $WHITE, $lineHeight: normal)
  +text($HELVETICA, $size, $color, normal, normal, 0.5px, none, $lineHeight, normal)

=helveticaItalic($size: 16px, $color: $WHITE, $lineHeight: normal)
  +text($HELVETICA, $size, $color, normal, italic, 0.5px, none, $lineHeight, normal)

=helveticaMedium($size: 16px, $color: $WHITE, $lineHeight: normal)
  +text($HELVETICA, $size, $color, $MEDIUM, normal, 0.5px, none, $lineHeight, normal)

=helveticaSemiBold($size: 16px, $color: $WHITE, $lineHeight: normal)
  +text($HELVETICA, $size, $color, $SEMI_BOLD, normal, 0.5px, none, $lineHeight, normal)

=helveticaBold($size: 16px, $color: $WHITE, $lineHeight: normal)
  +text($HELVETICA, $size, $color, $BOLD, normal, 0.5px, none, $lineHeight, normal)

=helveticaBoldItalic($size: 16px, $color: $WHITE, $lineHeight: normal)
  +text($HELVETICA, $size, $color, $BOLD, italic, 0.5px, none, $lineHeight, normal)

